@using AnimePortal.Models
@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    var list = ((List<Anime>)ViewData["AnimeModel"]);
}

<h2>AnimeList</h2>
@{
    foreach (var temp in list)
    {
        <img src="@temp.name" alt="Alternate Text" />
    }
}